<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold text-gray-900 mt-10">Registry</h1>
    <div class="registry_form">

    </div>
    <div class="flex flex-col text-gray-700 bg-white shadow-md rounded-xl bg-clip-border mt-6">
        <nav class="flex flex-col gap-1 p-4 font-sans text-base font-normal text-blue-gray-700">
            <% fights.forEach(fight=> { %>
                <%- include('../partials/fightRow.ejs', {fight: fight} ); -%>
                    <% }) %>
        </nav>
    </div>
</div>