<div class="container mx-auto " style="padding: 8rem 3rem 3rem 3rem;"">
    <div class=" flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <h1><small>Fight #4</small></h1>

            </div>
        </div>
    </div>
</div>